/* Default color and visibility */
.swiper-button-prev, 
.swiper-button-next {
  color: #ed3624 !important; /* Default color */
  transition: color 0.3s ease-in-out; /* Smooth transition */
}

/* Hover effect */
.swiper-button-prev:hover, 
.swiper-button-next:hover {
  color: whitesmoke !important; /* Change on hover */
}



.swiper-pagination-bullet-active {
  background-color: #ed3624 !important; /* Change to your desired color */
}

.swiper-pagination-bullet {
  background-color: whitesmoke  /* Change to your desired color */
}



/* Hide navigation buttons on small screens (below 768px width) */
@media (max-width: 768px) {
  .swiper-button-prev, 
  .swiper-button-next {
    display: none !important;
  }
}
